header {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding-left :60px;
    color: white;
}
body {
    background-color: #131313;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
div {
    color:white;
}
footer {
    margin-top: auto;
    color:white;
    text-align: center;
    background-color: black;
    padding:20px;
    font-size: 20px;

}
a{
    cursor: pointer;
    text-decoration: none;

}
a:link{
    color: white;
}
a:visited{
    color: white;
}
.dp {
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.main {
    font-size: 25px;
    margin-left:50px ;
}
.sub {
    margin-left:50px ;
    margin-right: 50px;
}
.name {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}
.icons {
    padding:10x;
    font-size: 25;

}
